@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url("./modules/default.css");
@import url("./modules/navbar.css");
@import url("./modules/footer.css");
@import url("./modules/variable.css");

/* HERO SECTION */
/* ========================================= */
.hero-section {
    background: url("../img/headerimage.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 90vh;
}

.hero-section img {
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: contain;
}

.heading-hero {
    position: absolute;
    bottom: 30px;
    right: 20px;
    text-align: right;
}

.heading-hero h1 {
    font-size: 60px;
    color: white;
}



/* WHO WE ARE */
/* ============================ */
.who-are-we {
    margin-top: 60px;
}

.who-are-we h1,
.who-are-we .desc {
    text-align: center;
}

.who-are-we .desc {
    margin-top: 25px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.who-are-we .list {
    display: flex;
    justify-content: center;

}

.who-are-we .list {
    margin-top: 55px;
}

.who-are-we .list:first-of-type {
    margin-top: 50px;
}

.who-are-we h2 {
    color: var(--main-dark);
    margin-bottom: 20px;
}

.who-are-we .list-description {
    width: 500px;
}

.who-are-we .section-content {
    margin-left: 60px;
}

.who-are-list-img {
    height: 200px;
    width: 200px;
    object-fit: contain;

}

.section-who-link {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
}

.section-who-link:link,
.section-who-link:visited {
    background: var(--main-light);
    color: white;
}

.section-who-link:hover,
.section-who-link:active {
    background: var(--main-light-hover);
    color: white;
}

/* OUR CHARITY */
/* ============================== */
.our-charity h1 {
    text-align: center;
    margin-top: 88px;
    margin-bottom: 38px;
}

.our-ch-list-container {
    display: flex;
    justify-content: center;
    margin-bottom: 66px;
}

.our-ch-list-container div {
    width: 500px;
    height: 195px;
    padding: 24px;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.774);
}

.our-ch-list-container div h2 {
    margin-bottom: 10px;
}
.our-ch-list-container div p{
    font-weight: 500;
}

.o-ch-list-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/our charities/image4.jpg");
}

.o-ch-list-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/our charities/image2.jpg");
}

.o-ch-list-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/our charities/image3.jpg");
}

.o-ch-list-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/our charities/image1.jpg");
}

.o-ch-list-1,
.o-ch-list-2,
.o-ch-list-3,
.o-ch-list-4{
    background-size: cover;
    background-position: center;
}

.o-ch-list-1,
.o-ch-list-3 {
    margin-right: 20px;
}

.charity-list-heading {
    font-size: 40px;
}





/* DOWNLOAD APP */
/* ============================ */
.download-app{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:50px;
    margin-top: 50px;
    background: url("../img/downloadappBG.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;

}

.download-app a:first-child{
    font-size:28px;
    margin-bottom: 60px;
    line-height:75px;
    width:300px;
    text-align: center;
    color:white;
    border-radius: 10px;

}

.download-app a:first-child:link,
.download-app a:first-child:visited{
    background: var(--main-light);
}

.download-app a:first-child:hover,
.download-app a:first-child:active{
    background: var(--main-light-hover);
}


/* REGISTER SECTION */
/* =========================== */
.register-section{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
    background-color: var(--main-light);
    color:white;
    position:relative;
}

.reg-sec-div{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    font-size: 21px;
    max-width: 328px;
}

.reg-sec-div h3,.reg-sec-div div img{
    margin-bottom :20px;    
}

.reg-sec-div div img{
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

.reg-sec-div p:not(:last-child){
    margin-bottom:29px;
}

.reg-sec-div a{
    display:block; 
    color:white;
    text-align:center;
    margin-top: 20px;
    line-height: 60px;
    border-radius:10px;
}

.reg-sec-div a:link, 
.reg-sec-div a:visited{
    background-color: var(--main-dark);
}

.reg-sec-div a:hover, 
.reg-sec-div a:active{
    background-color: var(--main-dark-hover);
}



/* CONTACT US */
/* ========================== */
.contact-us{
    display:flex;
    justify-content: center;
    margin-top: 84px;
    min-height: 300px;
}

.contact-us > div:first-child{
    margin-right: 120px;
}

.contact-content{
    display:flex;
    justify-content: space-between;
    font-weight: 500;
}


.contact-content div:first-child{
    margin-right: 20px;
}

.contact-content a:link,
.contact-content a:visited{
    color:black;
}

.contact-content a:hover,
.contact-content a:active{
    text-decoration: underline;
}

.google-map{
    width: 100%;
    height: 158px;
}

.contact-us form input:not([type="submit"]), 
.contact-us form textarea{
    display:block;
}

input[type="submit"]{
    display: inline-block;
}

.contact-us h1:first-child,
.contact-content,
.contact-us form input,
.contact-us form textarea{
    margin-bottom :25px;
}

.contact-us form input,
.contact-us form textarea{
    font-size: 18px;
    font-weight: 500;
    width: 500px;
    padding: 10px 20px;
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.329);
}

.contact-us form input:focus ,
.contact-us form textarea:focus{
    outline:none;
}

.contact-us form input{
    height: 45px;
}

.contact-us form textarea{
   height: 153px; 
}

.contact-us form textarea{
    font-family: 'Raleway', sans-serif;
}

.contact-us form input[type="submit"]{
    display: inline-block;
    width:154px;
    cursor: pointer;
    border:none;
    color:white;
    background:var(--main-dark);
    border-radius: 8px;
}

.contact-us form input[type="submit"]:hover{
    background: var(--main-dark-hover);
}














@media only screen and (max-width:1300px) {
    .who-are-we .desc {
        width: 90%;
    }

    .heading-hero h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    .who-are-we .desc {
        width: 100%;
        font-size: 19px;
    }

    .who-are-we .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .who-are-we h2 {
        margin-top: 30px;
    }

    .who-are-we .section-content {
        margin-left: 0px;
    }

    .heading-hero h1 {
        font-size: 40px;
    }

    /* our charity */
    .our-ch-list-container {
        flex-direction: column;
        margin-bottom:10px;
        align-items: center;
    }
    .o-ch-list-1, .o-ch-list-3 {
        margin-bottom:10px;
        margin-right:0;
    }

    .our-ch-list-container div {
        width: 100%;
    }


    /* register section */
    .register-section{
        flex-direction: column;
        align-items: center;
    }

    .reg-sec-div:first-child{
        margin-bottom: 100px;
    }

    /* contact us section */
    .contact-us {
        flex-direction: column;
    }

    .contact-us > div:first-child {
        margin-right: 0px;
        margin-bottom: 50px;
    }

    .contact-us form input, .contact-us form textarea {
        width: 100%;
    }
    
}

@media only screen and (max-width: 600px) {
    .who-are-we .list-description {
        width: 100%;
    }
    .reg-sec-div{
        max-width: none;
        width: 90%;
    }
}