@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url("./modules/default.css");
@import url("./modules/navbar.css");
:root{
    --main-light: #49CE8C;
    --main-light-hover: #60fcae;
    --main-dark: #005C2D;
    --main-dark-hover:#04ad56;
    --light-black: rgba(0, 0, 0, 0.281);
}

