@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url("./modules/default.css");
@import url("./modules/navbar.css");
:root{
    --main-light: #49CE8C;
    --main-light-hover: #60fcae;
    --main-dark: #005C2D;
    --main-dark-hover:#04ad56;
    --light-black: rgba(0, 0, 0, 0.281);
}

/* hero section */
.hero-section{
    background: url("../img/headerimage.jpg");
    background-size: cover;
    background-position: center;
    position:relative;
    min-height:90vh;
}

.hero-section img{
    position: absolute;
    bottom:0;
    right: 0;
    object-fit:contain;
}

.heading-hero{
    position:absolute;
    bottom:30px;
    right: 20px;
    text-align:right;
}

.heading-hero h1{
    font-size: 60px;
    color: white;
}



/* WHO WE ARE */
.who-are-we{
    margin-top: 60px;
}

.who-are-we h1, 
.who-are-we .desc{
    text-align: center;
}

.who-are-we .desc{
    margin-top:25px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.who-are-we .list{
    display:flex;
    justify-content: center;

}

.who-are-we .list{
    margin-top:55px;
}

.who-are-we .list:first-of-type{
    margin-top:50px;
}

.who-are-we h2{
    color: var(--main-dark);
    margin-bottom: 20px;
}

.who-are-we .list-description{
    max-width:500px;
}

.who-are-we .section-content{
    margin-left: 60px;
}

.who-are-list-img{
    height: 200px;
    width: 200px;
    object-fit: contain;

}

.section-who-link{
    margin-top:30px;
    display:inline-block;
    padding: 10px 30px; 
    border-radius:10px;
}

.section-who-link:link,
.section-who-link:visited{
    background: var(--main-light);
    color: white;
}

.section-who-link:hover, 
.section-who-link:active{
   background:var(--main-light-hover);
   color: white; 
}





@media only screen and (max-width:1300px){
    .who-are-we .desc {
        width: 90%;
    }

    .heading-hero h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1000px){
    .who-are-we .desc {
        width: 100%;
        font-size: 19px;
    }

    .who-are-we .list {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .who-are-we h2 {
        margin-top: 30px;
    }
    .who-are-we .section-content {
        margin-left: 0px;
    }
    .heading-hero h1 {
        font-size: 40px;
    }
}