/* some basic css style */
@import url("./variable.css");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1{
    font-size:40px;
    color: var(--main-dark);
}

textarea{
    font-family: 'Raleway', sans-serif;
}


/* will be used for description */
.desc{
    font-size: 22px;
}

a{
    text-decoration:none;
    transition: background 0.4s, background-color 0.4s;
}


.bound-one{
    padding-left:41px;
    padding-right: 41px;
}

.bound-two{
    margin-left:41px;
    margin-right: 41px;
}

.sticky-top{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index:10;
}

.display-none{
    display: none;
}



@media screen and (max-width:500px){
    .bound-one{
        padding-left:21px;
        padding-right: 21px;
    }
    .bound-two{
        margin-left:21px;
        margin-right: 21px;
    }
}





