:root{
    --main-light: #49CE8C;
    --main-light-hover: #60fcae;
    --main-dark: #005C2D;
    --main-dark-hover:#04ad56;
    --light-black: rgba(0, 0, 0, 0.281);
}

nav{    
    display:flex;
    justify-content: space-around;
    line-height: 105px;
}

nav a:link, 
nav a:visited, 
nav a:hover, 
nav a:active{
    color:black;
}

nav, 
.search-nav{
    font-size: 17px;
}

.search-nav:focus{
    outline:none;
}

nav img{
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}

.search-nav{
    font-size: 15px;
    border: 1px solid var(--light-black);
    height: 43px;
    padding: 0 16px;
    width: 408px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--light-black);
}

.login-register{
    display:flex;
}

.login-register a{
    width: 85px;
    text-align: center;
    border-radius: 10px;
    line-height: 35px;
    height: 35px;
    position:relative;
    top: 45%;
    transform:translateY(-50%);
}

.login-register a:first-of-type{
    background-color: var(--main-light);
    margin-right: 10px;
}

.login-register a:last-of-type{
    background-color: var(--main-dark);
}

.login-register a:link,
.login-register a:visited,
.login-register a:hover, 
.login-register a:active{
    color:white;
}

.login-register a:first-of-type:hover, 
.login-register a:first-of-type:active{
    background-color:var(--main-light-hover);
}

.login-register a:last-of-type:hover , 
.login-register a:last-of-type:active{
    background-color: var(--main-dark-hover);
}


/* ham bar */
.ham-bar-container{
    margin:auto 0;
    display: none;
}
.ham-bar-container div{
    height: 3px;
    border-radius:50px;
    width: 25px;
    background: black;
    margin-bottom:7px;

}

.ham-bar-container div:not(:last-child){
    margin-bottom: 6px;
}


@media only screen and (max-width:1550px){
    .search-nav{
        width: 300px;
    }
}

@media only screen and (max-width:1050px){
    nav{
        justify-content: space-between;
    }

    .ham-bar-container{
        display:block;
    }

    .login-register a:first-of-type{
        display:none;
    }

    .nav-link img{
        height: 60px;
    }

    nav a:not(:first-of-type), .search-nav{
        display:none;
    }
}